.avatar {
    cursor: pointer;
    height: 200px;
}

.buttons {
    margin-top: 10px;
}

.buttons a {
    background-color: #E3E9EF;
    border-radius: 5px;
    text-decoration: none;
    color: #5c6674;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.edit_button {
    padding-left: 66px;
    padding-right: 66px;
}

.dots_button {
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
}