.section {
    background-color: white;
    border-radius: 5px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Profile_Info_Section {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 15px;
}

.detail_profile_info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 14px;
}

.infoLabels {
    list-style: none;
    margin-left: 20px;
    color: #828282;
}

.posts_section {
    grid-column: 2/3;
}

.input {
    margin-top: -15px;
}