.media_statistic_item {
    margin-left: 23px;
}

.media_statistic_item:hover{
    cursor: pointer;
}

.value{
    text-align: center;
    color: #2A5885;
    font-size: 20px;
}

.label {
    font-size: 14px;
    color: #828282;
}