.list {
    list-style: none;
    line-height: 30px;
    padding-right: 90px;
    padding-left: 5px;
}

.list:hover {
    background-color: #DCE1E6;
    border-radius: 5px;
    cursor: pointer;
}

.ul a {
    color: black;
    text-decoration: none;
}

.ul {
    padding-left: 5px;
    font-size: 14px;
}