.friend_item {
    text-align: center;
    cursor: pointer;
}

.friend_item img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.friend_name {
    font-size: 14px;
    margin-bottom: 5px;
    color: #2A5885;
}

.friend_name:hover {
    text-decoration: underline;
}