.posts {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
}

.posts iframe {
    width: 100%;
    height: 330px;
}

.autor_info {
    display: flex;
}

.autor_info img {
    width: 60px;
    border-radius: 100px;
    margin-bottom: 15px;
}

.autor_name {
    margin-left: 15px;
    margin-top: 5px;
    color: #2A5885;
    font-size: 14px;
    font-weight: 500;
}