.header {
    background-color: #FFFFFF;
    border-bottom: #DCE1E6 solid 1px;
    height: 48px;
}

.header img {
    height: 50px;
}

.logo {
    max-width: 1000px;
    margin: 0 auto;
}

.input {
    position: absolute;
    margin-top: 8px;
    margin-left: 125px;
    border: none;
    background-color: #EDEEF0;
    height: 30px;
    width: 225px;
    border-radius: 8px;
}