.content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.header {
    background-color: white;
    height: 50px;
    border-bottom: 1px rgb(223, 223, 223) solid;
}

.logo {
    height: 50px;
    width: 50px;
}

.input {
    border: none;
    border-radius: 5px;
    background-color: #EDEEF0;
    height: 27px;
    width: 223px;
    margin-left: 127px;
    margin-top: 10px;
}