.news_area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
}

.right_section {
    background-color: white;
    border-radius: 5px;
    margin-top: 15px;
    height: 450px;
}