.ul {
    list-style: none;
    padding: 0px;
    margin-top: 15px;
    margin-right: 10px;
}

.ul li {
    padding: 5px 79px 5px 5px;
    border-radius: 5px;
    font-size: 14px;
}

.ul li:hover {
    cursor: pointer;
    background-color: #DCE1E6;
}